<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
      data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">Nick Vorraso</a>
    </div>

    <div class="collapse navbar-collapse" [ngClass]="{ in: routeChanged }">
        <ul class="nav navbar-nav">
          <li><a routerLinkActive="active" routerLink="/blog">Blog</a></li>
          <li><a routerLinkActive="active" routerLink="/about">About</a></li>
          <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
          <li><a *ngIf="authService.isAuthenticated()" routerLink="admin">Admin</a></li>
          <li><a *ngIf="authService.isAuthenticated()" (click)="onLogout()" routerLink="login">Logout</a></li>
        </ul>
    </div>

  </div>
</nav>