.container {
    text-align: center;
    display: flex;
}
form {
    width: 400px;
    margin-top: 35px;
    justify-content: center;
    margin: auto;
}
ul {
    list-style: none;
    padding-left: 0;
}
.model {
    padding-bottom: 20px;
    text-align: center;
    margin: 0;
}
.title {
    font-family: sans-serif;
}
.form-control {
    outline: none;
    border-style: none;
    box-shadow: 3px 3px 15px grey;
    min-width: 200px;
    font-family: sans-serif;
}
.message {
    padding: 5px;
    outline: none;
    border-style: none;
    box-shadow: 3px 3px 15px grey;
    min-height: 50px;
    width: 400px;
    max-width: 400px;
    font-family: sans-serif;
}
.btn-success {
    box-shadow: 3px 3px 15px grey;
    margin-bottom: 100px;
    width: 100%;
}