<div class="container">

  <div class="form">
    <h2>Get In Touch</h2>
    <ul class="" style="margin-left: 0">
      <li class="model">
        <input class="form-control" placeholder="first name">
      </li>
      <li class="model">
        <input class="form-control" placeholder="email">
      </li>
      <li class="model">
        <input class="form-control" placeholder="phone number">
      </li>
      <li class="model">
        <textarea class="form-control message" placeholder=" message" cols="24"></textarea>
      </li>
    </ul>
  </div>
  
</div>