#portfolio {
  padding: 25px 0px 50px;
  margin-bottom: 75px;
  z-index: 3;
}
#portfolio .flex-container {
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-wrap: wrap;
}
#portfolio .flex-container .flex-item {
  box-shadow: 5px 8px 18px grey;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 300px;
  margin: 15px;
  padding: 0;
  z-index: 1;
  color: black;
}
#portfolio .flex-container .flex-item img {
  flex-grow: 1;
  height: inherit;
  width: 100%;
}
#portfolio .flex-container .flex-item:hover {
  box-shadow: 1px 1px 2px grey;
}