<div class="well" style="max-width:450px; min-width:285px; margin: auto">
    <h4>Admin Dashboard</h4>
    <div class="list-group">
        <button type="button" class="list-group-item">New Post</button>
        <button type="button" class="list-group-item">Edit Blog Posts</button>
        <button type="button" class="list-group-item">Change Email</button>
        <button type="button" class="list-group-item">Change Password</button>
    </div>
    <hr>
        <button class="btn btn-danger" (click)="logout()" style="width:100%" >Logout</button>
</div>