.handle {
    color: #ccc;
}
.media {
    padding: 15px;
    padding-top: 0;
    min-width: 250px;
    margin-bottom: 60px;
    border-radius: 4px;
    box-shadow: 4px 4px 15px grey;
}
.crop {
    width: 100%;
    height: 100px;
    overflow: hidden;
    background: #222222;
    margin-bottom: 10px;
}
.media-object {
    height: 180px;
}
.content {
    height: 40px;
    overflow: hidden;
}
.media-heading {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}